<h1 class="page-title">The Icons</h1>
<p><strong>Privacy policies simplified.</strong> Privacy Icons are legally binding and supersede any clause in a given privacy policy or terms of service. However, users should be advised that there is no enforcement mechanism. Site operators may change their policies at any time, but must respect the assurances provided to users during the original transaction.</p>

<ul class="icons-list">
	<li class="icon-group">
		<h2>Retention period.</h2>
		<ul>
			<li>
				<img src="img/icons/retention-infinite.png" alt="Retention" width="83" height="100" class="icon" />
				<div class="icon-description">
					<hgroup>
						<h3>X Retention Period <span>(3 or 18 months, Indefinite)</span></h3>
						<h4>Your data is retained less than X months or indefinitely</h4>
					</hgroup>
					<p>This website keeps your data less than 3 or 18 months after the site provides the requested service, or removes your data within 3 or 18 months of deletion requests. Alternately, your data is stored indefinitely.</p>
				</div>
				<div class="download">
					<a href="" class="download-link">Download the icon &amp; read the details.</a>

					<!-- Add icon download and details information here. -->
					<div class="download-content">
						<div class="downloads">
							<b>Download the icon:</b>
							<ul>
								<li><a href="">PNG</a></li>
								<li><a href="">JPG</a></li>
								<li><a href="">EPS</a></li>
							</ul>
						</div> <!-- .downloads -->
						<div class="download-content-body">
							<p>You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work). What does "Attribute this work" mean? The page you came from contained embedded licensing metadata, including how the creator wishes to be attributed for re-use.</p>
							<h3>You are free to&hellip;</h3>
							<ul>
								<li>to Share&mdash;to copy, distribute and transmit the work</li>
								<li>to Remix&mdash;to adapt the work</li>
								<li>to make commercial use of the work</li>
							</ul>
							<a href="licenses/sample-license.txt">View License</a>
						</div> <!-- .download-content-body -->
						<a href="" class="close">X</a>
					</div> <!-- .download-content -->
				</div> <!-- .download -->
			</li>
		</ul>
	</li>
	<li class="icon-group">
		<h2>Third-party use.</h2>
		<ul>
			<li>
				<img src="img/icons/collection-expected.png" alt="Collection Expected" width="83" height="100" class="icon" />
				<div class="icon-description">
					<hgroup>
						<h3>Expected collection and use</h3>
						<h4>Your Data collected and used only as expected.</h4>
					</hgroup>
					<p>The website collects and uses your data only as you expressly allow or as you'd reasonably expect given the site's service. For example, when you provide your email address to an online retailer, a necessary and allowed use of that data is to confirm the order and provide delivery updates.</p>
				</div>
			</li>
			<li>
				<img src="img/icons/collection-unexpected.png" alt="Collection Unexpected" width="83" height="100" class="icon" />
				<div class="icon-description">
					<hgroup>
						<h3>Unexpected collection and use</h3>
						<h4>Your data might be collected or used in unexpected ways.</h4>
					</hgroup>
					<p>This website might collect or use your data in ways you didn't allow and wouldn't expect given the site's service. For example, an online retailer could use your email not just to confirm your order but also to send marketing messages without your permission.</p>
				</div>
			</li>
			<li>
				<img src="img/icons/for-sale-yes.png" alt="For Sale" width="83" height="100" class="icon" />
				<div class="icon-description">
					<hgroup>
						<h3>For sale</h3>
						<h4>Your data may be sold or shared</h4>
					</hgroup>
					<p>This website might sell your data or share it with third parties or affiliates without your express permission. For example, an online retailer could sell the data it collects about you (e.g., your shopping history, email or IP address) to advertisers or data aggregators without your permission.</p>
				</div>
			</li>
			<li>
				<img src="img/icons/for-sale-no.png" alt="Not For Sale" width="83" height="100" class="icon" />
				<div class="icon-description">
					<hgroup>
						<h3>Not for sale</h3>
						<h4>Your data is not sold or shared</h4>
					</hgroup>
					<p>This website doesn't sell your data and only shares your data with third parties as you specifically allow or as you'd reasonably expect given the site's service.</p>
				</div>
			</li>
			<li>
				<img src="img/icons/legal-process-required.png" alt="Legal Process Required" width="83" height="100" class="icon" />
				<div class="icon-description">
					<hgroup>
						<h3>Legal process required</h3>
						<h4>Your data not disclosed without proper legal procedure</h4>
					</hgroup>
					<p>This website requires that government requests to disclose user data comply with proper legal procedure (e.g., the presentation of a subpoena or court order).</p>
				</div>
			</li>
			<li>
				<img src="img/icons/legal-process-not-required.png" alt="Legal process not required" width="83" height="100" class="icon" />
				<div class="icon-description">
					<hgroup>
						<h3>Legal process not required</h3>
						<h4>Your data might be disclosed without proper legal procedure</h4>
					</hgroup>
					<p>This website might comply with government requests to provide your data even if the site isn't legally required to do so.</p>
				</div>
			</li>
		</ul>
	</li>
</ul>

<a class="contextual-nav previous" href="who.php" data-target="who">Who uses them?</a>
<a class="contextual-nav next" href="news.php" data-target="news">News</a>

<div class="copyright">
	<p>Privacy Icons are a project of <a href="http://mozilla.org">Mozilla</a> and the Privacy Icons Working Group. &copy; Copyright 2011</p>
</div>