<h1 class="page-title">Get Involved</h1>
<p>Privacy Icons is an open project of the Privacy Icons working group.</p>
<p>The working group will convene each quarter to evaluate and adapt the icons and underlying legal text. To learn more about the working group, please contact <a href="mailto:icons@mozillafoundation.org">icons@mozillafoundation.org</a>.</p>
<p>We need your help to accelerate adoption of the icons. If you have ideas about campaigns, outreach, or other ways to bring privacy icons to the world, please join the project at <a href="Drumbeat.org">Drumbeat.org</a>.</p>

<a class="contextual-nav previous" href="news.php" data-target="news">The news</a>

<div class="copyright">
	<p>Privacy Icons are a project of <a href="http://mozilla.org">Mozilla</a> and the Privacy Icons Working Group. &copy; Copyright 2011</p>
</div>	