<h1 class="page-title">The News</h1>
<ul class="articles-list">
	<li>
		<article>
			<hgroup>
				<h1><a href="">Welcome to the Privacy Icons Beta.</a></h1>
				<h2>by <span class="author">Aza Raskin</span> | <time datetime="" pubdate>June 6 2011</time></h2>
			</hgroup>
			<div class="article-body">
				<p>Privacy Icons are a competitive differentiator. Adopting Privacy Icons for your site signals your respect for user choice and control, and doing business transparently&hellip;</p>
			</div>
		</article>
	</li>
	<li>
		<article>
			<hgroup>
				<h1><a href="">How to get involved.</a></h1>
				<h2>by <span class="author">Aza Raskin</span> | <time datetime="" pubdate>June 6 2011</time></h2>
			</hgroup>
			<div class="article-body">
				<p>Privacy Icons are a competitive differentiator. Adopting Privacy Icons for your site signals your respect for user choice and control, and doing business transparently&hellip;</p>
			</div>
		</article>
	</li>
	<li>
		<article>
			<hgroup>
				<h1><a href="">Who will use them.</a></h1>
				<h2>by <span class="author">Aza Raskin</span> | <time datetime="" pubdate>June 6 2011</time></h2>
			</hgroup>
			<div class="article-body">
				<p>Privacy Icons are a competitive differentiator. Adopting Privacy Icons for your site signals your respect for user choice and control, and doing business transparently&hellip;</p>
			</div>
		</article>
	</li>
</ul>
<h2>Further Reading:</h2>
<ul class="further-reading articles-list">
	<li>
		<article>
			<hgroup>
				<h1><a href="">Making Privacy Policies Not Suck.</a></h1>
				<h2>by <span class="author">Aza Raskin</span> | <time datetime="" pubdate>June 6 2011</time></h2>
			</hgroup>
		</article>
	</li>
	<li>
		<article>
			<hgroup>
				<h1><a href="">Is a Creative Commons for Privacy Possible?</a></h1>
				<h2>by <span class="author">Aza Raskin</span> | <time datetime="" pubdate>June 6 2011</time></h2>
			</hgroup>
		</article>
	</li>
	<li>
		<article>
			<hgroup>
				<h1><a href="">The Seven Things That Matter in Privacy.</a></h1>
				<h2>by <span class="author">Aza Raskin</span> | <time datetime="" pubdate>June 6 2011</time></h2>
			</hgroup>
		</article>
	</li>
	<li>
		<article>
			<hgroup>
				<h1><a href="">Privacy Icons: Alpha Release.</a></h1>
				<h2>by <span class="author">Aza Raskin</span> | <time datetime="" pubdate>June 6 2011</time></h2>
			</hgroup>
		</article>
	</li>
</ul>

<a class="contextual-nav previous" href="the-icons.php" data-target="icons">Get the icons</a>
<a class="contextual-nav next" href="get-involved.php" data-target="involved">Get involved</a>

<div class="copyright">
	<p>Privacy Icons are a project of <a href="http://mozilla.org">Mozilla</a> and the Privacy Icons Working Group. &copy; Copyright 2011</p>
</div>	