<a href="http://mozilla.org" class="mozilla-tag">Mozilla</a>

<h1>Privacy Icons</h1>
<h2>A bolt-on approach to simplifying privacy policies.</h2>
<a href="the-icons.php" data-target="icons" class="icons-teaser cf">
	<ul>
		<li>
			<span class="icon collection-unexpected">Unexpected Collection</span>
		</li>
		<li>
			<span class="icon legal-process-required">Legal Process Required</span>
		</li>
		<li>
			<span class="icon for-sale-no">Not for Sale</span>
		</li>
		<li>
			<span class="icon retention-6mo">6-month Retention</span>
		</li>
	</ul>
</a>
<p><strong>The problem:</strong> users need to know how companies intend to use their data&mdash;but privacy policies and terms of service are long-winded, complex documents that encapsulate a lot of situation-specific detail.</p>
<p>The solution: a set of Privacy Icons to &ldquo;bolt on to&rdquo; your existing privacy policy. When you add a Privacy Icon to your privacy policy, you&rsquo;re essentially saying: &ldquo;No matter what the rest of this privacy policy says, the following is true and preempts anything else in this document.&rdquo; </p>
<p>Each Privacy Icon makes an iron-clad guarantee about what a company will do with a user&rsquo;s data. Now, people can understand how their personal data will be transacted, with just a glance. At the same time, companies retain the flexibility needed to create comprehensive, detailed, and meaningful policies.</p>
<p>Privacy Icons are legal declarations, written in cooperation with privacy experts and a coalition of industry stakeholders. And soon, they will be machine readable&mdash;enabling users to communicate their preferences through trusted agents (like web browsers).</p>

<a class="contextual-nav next" href="who.php" data-target="who">Who uses them?</a>

<div class="copyright">
	<p>Privacy Icons are a project of <a href="http://mozilla.org">Mozilla</a> and the Privacy Icons Working Group. &copy; Copyright 2011</p>
</div>