<h1 class="page-title">Who Uses Them?</h1>

<p><strong>For any sites that store user data&mdash;</strong>blogs, email lists, e-commerce sites, advertisers, and social networks&mdash;Privacy Icons are a competitive differentiator. Adopting Privacy Icons for your site signals your respect for user choice and control, and doing business transparently.</p>

<p>There&rsquo;s an emerging marketplace for personal data, where users exchange information about themselves for online goods and services. But personal data is a currency whose exchange rate is unknown. As users begin to understand the value of their data, the market will reward companies who treat their users transparently and with respect. Over time, the fair value of these exchanges will emerge, and companies who appreciate their customers&rsquo; privacy will be rewarded.</p>

<p>Differentiation based on privacy matters to users. Think about the large number of sites which vehemently promise to never share your email address when you sign up for their service or mailing list. Those are the kinds of sites, which make up a significant fraction of the web, that should adopt Privacy Icons.</p>

<p><strong>For users who share data,</strong> Privacy Icons are the quickest way to understand the terms by which they offer information about themselves. They help users make informed choices about whether to share their data.</p>

<p>Privacy policies are long legalese documents that obfuscate meaning. Nobody reads them because they are indecipherable and obtuse. Yet, these are the documents that tell you what&rsquo;s going on with your data&mdash;how, when, and by whom your information will used. To put it another way, the privacy policy lets you know if some company can make money from information (like selling you email to a spammer).</p>

<p>Following in the footsteps of Creative Commons&rsquo; footsteps&mdash;which used simple visual language to make copyright more understandable&mdash;we need to reduce the complexity of privacy policies to an indicator scannable in seconds. Privacy Icons provide a visual language for delving deeper into how our data is used.</p>

<a class="contextual-nav previous" href="index.php" data-target="what">What are they?</a>
<a class="contextual-nav next" href="the-icons.php" data-target="icons">Get 'em</a>

<div class="copyright">
	<p>Privacy Icons are a project of <a href="http://mozilla.org">Mozilla</a> and the Privacy Icons Working Group. &copy; Copyright 2011</p>
</div>	